* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: red;
    position: relative;
    animation-name: box;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes box {
    0% {
        top: 0px;
        left: 0px;
        background-color: red;
    }

    25% {
        top: 0px;
        left: 90%;
        background-color: yellow;
    }

    50% {
        top: 575px;
        left: 90%;
        background-color: green;
    }

    75% {
        top: 575px;
        left: 0px;
        background-color: blue;
    }

    100% {
        top: 0px;
        left: 0px;
        background-color: red;
    }
}

/* one */

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 600px;
    border: 5px solid black;
}

.settings {
    width: 200px;
    height: 200px;
    animation-name: setting__big;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.setting {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    animation-name: setting__small;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes setting__big {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes setting__small {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* two */

.car {
    width: 1510px;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    border: 5px solid black;
}

.road {
    width: 1500px;
    height: 30px;
    margin: 0 auto;
    background-color: black;
}

.car_img {
    width: 200px;
    height: 100px;
    animation-name: car;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    position: relative;
}

@keyframes car {
    0% {
        top: 0px;
        left: 0px;
        transform: rotateY(0deg);
    }


    25% {
        top: 0px;
        left: 1300px;
        transform: rotateY(0deg);
    }

    50% {
        top: 0px;
        left: 1300px;
        transform: rotateY(160deg);
    }


    100% {
        top: 0px;
        left: 0px;
        transform: rotateY(160deg);
    }
}

/* there */
.container {
    width: 100%;
    height: 100vh;
    border: 5px solid black;
}

.box_two {
    width: 150px;
    height: 150px;
    background-color: red;
    position: relative;
    animation-name: box_two;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes box_two {
    0% {
        top: 0px;
        left: 0px;
    }

    10% {
        top: 0px;
        left: 700px;
    }

    30% {
        top: 280px;
        left: 700px;
    }

    50% {
        top: 280px;
        left: 1350px;
    }

    70% {
        top: 550px;
        left: 1350px;
    }

    90% {
        top: 550px;
        left: 0px;
    }

    100% {
        top: 0px;
        left: 0px;
    }
}

/* four */

.svetafor_content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}

.svetafor {
    width: 350px;
    height: 550px;
    background-color: gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: 5px solid white;
}

.svetafor :first-child {
    width: 150px;
    height: 150px;
    background-color: rgb(95, 84, 84);
    border-radius: 50%;
    animation-name: red;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    border: 5px solid red;
}

.svetafor :nth-child(2) {
    width: 150px;
    height: 150px;
    background-color: rgb(95, 84, 84);
    border-radius: 50%;
    animation-name: yellow;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    border: 5px solid yellow;
}

.svetafor :last-child {
    width: 150px;
    height: 150px;
    background-color: rgb(95, 84, 84);
    border-radius: 50%;
    animation-name: green;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    border: 5px solid green;
}

@keyframes red {

    0% {
        background-color: red;
    }

    33% {
        background-color: red;
    }

    34% {
        background-color: rgb(95, 84, 84);
    }

    100% {
        background-color: rgb(95, 84, 84);
    }
}

@keyframes yellow {

    0% {
        background-color: rgb(95, 84, 84);
    }


    33% {
        background-color: rgb(95, 84, 84);
    }


    67% {
        background-color: rgb(95, 84, 84);
    }

    34% {
        background-color: yellow;
    }

    66% {
        background-color: yellow;
    }

    68% {
        background-color: rgb(95, 84, 84);
    }

    100% {
        background-color: rgb(95, 84, 84);
    }
}

@keyframes green {

    0% {
        background-color: rgb(95, 84, 84);
    }

    67% {
        background-color: rgb(95, 84, 84);
    }

    68% {
        background-color: green;
    }

    100% {
        background-color: green;
    }
}

/* five */